* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 3rem;
    align-items: center;
    background-color: rgb(71, 51, 74);
}

ul {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: violet;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: color 0.5s ease-in;
}

.nav-list a:hover {
    color:antiquewhite;
    transition: color 0.5s ease-out;
}

.main {
    position: relative;
    top: 3rem;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-image: radial-gradient(circle, rgb(77, 51, 74), blue, rgb(77, 51, 74));
}

#projects {
    text-align: center;
    padding: 3.5rem 1rem;
    background-color: rgb(77, 51, 74);
    width: 100%;
}

#welcome-section  h1 {
    font-size: 5rem;
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

#welcome-section  p {
    color: blue;
}

#welcome-section  p:hover {
    color: violet;
    cursor: none;
}

.projects-section > h2 {
    padding: .5rem;
    margin: 2rem;
    color: violet;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

}

.projects-grid > a {
    color: violet;
    text-decoration: none;
    
}

.project-title {
    font-size: small;
    padding: 1rem 0;
    background-color: blue;
    border-radius: 4px;  
}

.projects-grid {
    display: grid;
    grid-template-columns: .8fr .8fr .8fr .8fr;
    grid-column-gap: 8px;
    
}

.project-image {
    width: 100%;
    border-radius: 6px;
}

.code {
    color: blue;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color:lightskyblue;
    transition: color 0.3s ease-in;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

.contact-links > a {
    text-decoration: none;
    color:#743ad5;
    padding: 2rem 0;
    /*flex: 1 1 150px;*/
}

.contact-links > a:hover {
    -webkit-transform: scale(1.3)
}

.contact-section img {
    width: 100px;
    height: 100px;
    opacity: 70%;
}

.logo {
    object-fit: scale-down;
    flex: 1 1 150px;
}

.contact-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-section {
    background-color:blue;
    padding: 1rem 0;
}

.contact-section h2, p {
    color: lightskyblue;
}

@media only screen and (max-width: 665px) {
    #welcome-section  h1 {
        font-size: 3rem;
        background: -webkit-linear-gradient(#743ad5, #d53a9d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
    }
}